<ion-header>
  <ion-toolbar>
    <ion-title>Tela Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/tela-cadastro-livros']">Cadastrar Livro</ion-button>
  <ion-button [routerLink]="['/tela-pesquisa-livros']">Pesquisar Livros</ion-button>
  <ion-button [routerLink]="['/tela-controle-emprestimos']">Controle de Empréstimos</ion-button>
  <ion-button [routerLink]="['/tela-livros-por-autor']">Livros por Autor</ion-button>
  <ion-button [routerLink]="['/tela-configuracoes']">Configurações</ion-button>
</ion-content>
